*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Arial',sans-serif;
}
Body{
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.form-container{
	background: rgba(255,255,255,0.1);
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 0 15px rgba(0,255,255,0.3);
	width: 320px;
	text-align: center;
}
h2{
	color: #fff;
	margin-bottom: 20px;
}
.input-box{
	position: relative;
	margin: 20px 0;
}
.input-box input{
	width: 100%;
	padding: 12px 15px;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 18px;
	border-bottom: 5px solid rgba(255,255,255,0.5);
	transition: 0.4s;
}
.input-box input:focus {
	border-color: #00ffff80;
	box-shadow: 0 5px 50px rgba(0,255,255,0.3);
}
.input-box span{
	position: absolute;
	top: 70%;
	left: 1px;
	color: rgba(255,255,255,0.5);
	font-size: 16px;
	pointer-events: none;
	transform: translateY(-50%);
}
.input-box input:focus+span,
.input-box input:not(:placeholder-shown)+span{
	top: 5px;
	font-size: 12px;
	color: #white;
}
.submit-btn{
	background: linear-gradient(90deg,#0d1b2a,#3a86ff);
	border: none;
	padding: 12px 30px;
	border-radius: 10px;
	color: :#000;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s;
	margin-top: 10px;
	}
	.submit-btn:hover{
	background: linear-gradient(90deg,#00ff80,#00ffff);
	box-shadow: 0 5px 15px #00ffff80;
	} 
.whatsapp-btn {
    background-color: #25D366;
    color: white;
    font-weight: bold 100px;
    padding: 20px 30px;
    font-size: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


